@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* Basic reset & layout */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  line-height: 2;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.nav {
  position: fixed;
  top: 30px; /* padding-like space from the top */
  left: 0;
  right: 0;
  margin: 0 auto; /* centers horizontally */
  width: 458px;
  height: 50px;
  border-radius: 13px;
  background: #00092b;
}

.nav a {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  padding-bottom: 30px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 460;
}

.nav a.active-link {
  background: rgba(255, 12, 12, 0.18);
  font-weight: 200;
  padding-top: 5.2px;
  padding-bottom: 22px;
  border-radius: 7px;
}

.nav ul {
  display: flex;
  gap: 12px;
  list-style: none;
}
/* Add space at top so content isn't hidden behind fixed nav */
main {
  padding-top: 200px;
  padding-left: 120px;
}

cafe_image img {
  display: block;
  width: 1087px;
  height: 464px;
  top: 30px; /* padding-like space from the top */
  left: 0;
  right: 0;
  margin: 0 auto; /* centers horizontally */
}
.cafe_image {
  text-align: center;
}

.cafe_image img {
  width: 1000px;
  height: 464px;
  display: inline-block;
}
.PickUpDevli {
  display: flex;
  gap: 5px; /* spacing between children */
  margin-top: 30px;
  justify-content: center;
}

.PickUpDevli a img {
  width: 250px;
  height: 130px;
  flex-shrink: 0;
  aspect-ratio: 89/43;
  border-radius: 10px;
}

/* Menu */
.menuContainer {
  margin-left: 150px;
}
.best-seller {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 60px;
  margin-left: 90px;
  margin-top: 30px;
}

.best-seller-item {
  display: inline-flex;
  flex: 1;
  margin-top: 2px;
  margin-left: 2px;
  width: 260px;
  height: 230px;
  background: #d9d9d9;
}

.best-seller-item img {
  margin-left: -95px;
  margin-bottom: 30px;
  width: 400px;
  height: 160px;
}

.team {
  display: flex;
  margin-top: 100px;
}

.team-member .image-card {
  width: 371px;
  height: 521px;
  flex-shrink: 0;
  background-color: #00092b;
}

/* About me */

.aboutContainer {
  margin-top: 10px;
  margin-left: 300px;
}
